<div class="sidebar">
    <div class="logo-content">
        <div class="logo">
            <span style="color: rgb(88, 207, 238);">Quiz</span><span style="color: rgb(247, 151, 159);">tory</span>
        </div>
    </div>
    <ul class="nav-list">
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <i class="bx bx-grid-alt bx-sm"></i>
                <span class="link-name">Tableau de bord</span>
            </a>
        </li>
    </ul>
    <ul class="nav-list">
        <li>
            <a routerLink="/gestion-quizz" routerLinkActive="active">
                <i class='bx bxs-terminal bx-sm'></i>
                <span class="link-name">Panneau administrateur</span>
            </a>
        </li>
    </ul>
</div>