#title-div {
    border: 10px solid rgb(137, 138, 166);
    width: 40%;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    text-align: center;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}