#popup {
    padding: 50px;
}

h1 {
    width: 100%;
    justify-content: center;
    text-align: center;
}

mat-card-actions {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}